body {
    margin: 0;
    padding: 0;
}

a, a:link, a:active, a:visited, a:hover {
    /* text-decoration: none; */
    color: #212529;
}

.logo {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
}

.logosmall {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
}

.logotext {
    font-size: 3rem;
    vertical-align: middle;
    margin-left: 1rem;
}

a.indexlink {
    width: 20%;
    border-radius: 20px;
}

.navmargin {
    margin-top: 6.5rem;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
}

.fas, .far {
    color: #212529;
}

.fas:hover, .far:hover {
    color: #414850;
}

div.dataTables_wrapper div.dataTables_paginate ul.pagination {
    margin: 2px 0;
    white-space: nowrap;
    /* justify-content: flex-end; */
    justify-content: flex-start;
}

.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #212529;
    border-color: #414850;
}

.page-link {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #212529;
    background-color: #fff;
    border: 1px solid #dee2e6;
}

.btn-new-car {
    margin-top: 1rem;
    width: 100%;
}

/*
.modal-backdrop {
    background-color: red;
 }
 */

.modal-body input {
    width: 100%;
}

#customertable_wrapper .col-4, .col-8 {
    padding-right: 0;
    padding-left: 0;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

hr {
    border: 1px solid #dee2e6;
}

.pl075rem {
    padding-left: 0.75rem;
}

.cardrelative {
    position: relative;
}

.plusbutton {
    position: absolute;
    display: block;
    bottom: 0.5rem;
    right: 0.5rem;
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
    background-color: #343a40;
    border-radius: 50%;
    padding: 0.6rem 0.8rem;
    text-align: center;
    margin: 0;
    cursor: pointer;
    opacity: 0.25;
    filter: alpha(opacity=25);
}

.plusbutton:hover {
    opacity: 1;
    filter: alpha(opacity=100);
}